name = "flack"
compatibility_date = "2025-01-01"
compatibility_flags = ["nodejs_compat"]
pages_build_output_dir = ".svelte-kit/cloudflare"

[vars]
PUBLIC_CONVEX_URL = "https://uncommon-ant-509.convex.cloud"
